ADMIN_PASSWORD=magischerwald
# Redis for production (optional - file-based storage used by default)
# Set up a free Redis DB at https://console.upstash.com/ and add the URL below
# KV_URL=redis://default:xxx@xxx.upstash.io:xxxx
